.contact-container {
  background: #ffffff;
  border: solid 1px #e8e8e8;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;


  &__title {
    margin: 10px;
    color: darken(deepskyblue, 5%);
    font-weight: normal;
    font-size: 1.5em;
  }
}