.contact-row {
  height: 20%;
  padding-top: 5%;
  cursor: pointer;
  border-bottom: solid 1px #f1f1f1;
  display: flex;
  &:hover {
  background: deepskyblue;
}
  &:active{
    background: blue;
  }
}
