$blue: deepskyblue;

.contact-row {
  padding: 0 10px;
  height: 75px;
  cursor: pointer;
  border-bottom: solid 1px #f1f1f1;
  display: flex;
  align-items: center;

  &:hover {
    background: $blue;
    .last-message {
      color: white;
    }
  }

  &:active {
    background: darken($blue, 10%);
    .last-message {
      color: white;
    }
  }

  &__info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .name {
      font-size: 1.2em;
    }

    .last-message {
      display: flex;
      justify-content: space-between;
      font-size: .9em;
      color: #858585;
    }
  }
}
